h1, p{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 40rem;
}

body{
    background-color: aqua;
}